.form{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    height: 500px
}

form{
    display: flex;
    flex-direction: column;
    width: 70%
}
.btns{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.btns button{
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
}
.btns .cancel{
    background: none;
}
.btns .save{
    background-color: #1C1817;
    border-radius: 10px;
    color: white;
}

form input,textarea{
    outline: none;
    padding: 10px;
    font-size: 20px;
    background-color: #E0DFDD;
    color: black;
    border: none;
    border-radius: 7px;
    resize:none;
}
form input:focus,textarea:focus{
    border-bottom: 2px solid black;
}
form label{
    padding-bottom: 5px;
    padding-top: 5px;
}